# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Build
/build/

#macOS system files
.DS_Store

# Ignore SQLite database files
/data/
/data/chat_users.db
/data/*.db
/data/*.sqlite
/data/*.sqlite3

# Ignore SQLite temporary files
/data/*.db-journal
/data/*.db-wal
/data/*.db-shm

#VSCode
.vscode/

# Build outputs
/bin
/obj
/x64
*.exe
*.dll
*.pdb
*.ilk
*.exp
*.lib
*.cachefile

# Visual Studio files and folders
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.opensdf
*.sdf
ipch/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# Temporary files
*.[Cc]ache
*.[Pp]rj.*
*.log
*.tlog
*.vspscc
*.vssscc